pipeline/dynamic_pipeline.json
{
	"name": "dynamic_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get list of tables to be process",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT QUOTENAME(t.name) AS tableName, QUOTENAME(SCHEMA_NAME(t.schema_id)) AS schemaName FROM sys.tables as t",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "genericSQLDB_DS",
						"type": "DatasetReference",
						"parameters": {
							"serverName": {
								"value": "@pipeline().parameters.serverName",
								"type": "Expression"
							},
							"databaseName": {
								"value": "@pipeline().parameters.databaseName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate over all tabless",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get list of tables to be process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get list of tables to be process').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ',item().schemaName,'.',item().tableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "genericSQLDB_DS",
									"type": "DatasetReference",
									"parameters": {
										"serverName": {
											"value": "@pipeline().parameters.serverName",
											"type": "Expression"
										},
										"databaseName": {
											"value": "@pipeline().parameters.databaseName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "genericADLSg2Parquet_DS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"databaseName": {
				"type": "string",
				"defaultValue": "mydatabase"
			},
			"serverName": {
				"type": "string",
				"defaultValue": "sampleserver69.database.windows.net"
			}
		},
		"annotations": []
	}
}