sampledf69/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sampledf69"
		},
		"ADLSgen2_LS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLSgen2_LS'"
		},
		"AdventureWorksSQLDV_LS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AdventureWorksSQLDV_LS'"
		},
		"genericDB_LS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'genericDB_LS'"
		},
		"ADLSgen2_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sampledatalake69.dfs.core.windows.net/"
		},
		"AdventureWorksSQLDV_LS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sampleserver69.database.windows.net"
		},
		"AdventureWorksSQLDV_LS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "mydatabase"
		},
		"AdventureWorksSQLDV_LS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aditbhat"
		},
		"genericDB_LS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "@{linkedService().serverName}"
		},
		"genericDB_LS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().databaseName}"
		},
		"genericDB_LS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aditbhat"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/demopipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CustomerSQL_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Cutsomer_Parquet_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-07-08T10:50:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CustomerSQL_DS')]",
				"[concat(variables('factoryId'), '/datasets/Cutsomer_Parquet_DS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamic_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get list of tables to be process",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT QUOTENAME(t.name) AS tableName, QUOTENAME(SCHEMA_NAME(t.schema_id)) AS schemaName FROM sys.tables as t",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "genericSQLDB_DS",
								"type": "DatasetReference",
								"parameters": {
									"serverName": {
										"value": "@pipeline().parameters.serverName",
										"type": "Expression"
									},
									"databaseName": {
										"value": "@pipeline().parameters.databaseName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate over all tabless",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get list of tables to be process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get list of tables to be process').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data from table",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT * FROM ',item().schemaName,'.',item().tableName)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "genericSQLDB_DS",
											"type": "DatasetReference",
											"parameters": {
												"serverName": {
													"value": "@pipeline().parameters.serverName",
													"type": "Expression"
												},
												"databaseName": {
													"value": "@pipeline().parameters.databaseName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "genericADLSg2CSV_DS",
											"type": "DatasetReference",
											"parameters": {
												"serverName": {
													"value": "@pipeline().parameters.serverName",
													"type": "Expression"
												},
												"databaseName": {
													"value": "@pipeline().parameters.databaseName",
													"type": "Expression"
												},
												"schemaName": {
													"value": "@item().schemaName",
													"type": "Expression"
												},
												"tableName": {
													"value": "@item().tableName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"databaseName": {
						"type": "string",
						"defaultValue": "mydatabase"
					},
					"serverName": {
						"type": "string",
						"defaultValue": "sampleserver69.database.windows.net"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/genericSQLDB_DS')]",
				"[concat(variables('factoryId'), '/datasets/genericADLSg2CSV_DS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerSQL_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdventureWorksSQLDV_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NameStyle",
						"type": "bit"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "Suffix",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesPerson",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "PasswordHash",
						"type": "varchar"
					},
					{
						"name": "PasswordSalt",
						"type": "varchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdventureWorksSQLDV_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cutsomer_Parquet_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSgen2_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Customer.parquet",
						"folderPath": "sampleserver69/AdventureWorks/Customer/Year=2023/Month=10/Day=20",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSgen2_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/genericADLSg2CSV_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSgen2_LS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"serverName": {
						"type": "string"
					},
					"databaseName": {
						"type": "string"
					},
					"schemaName": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().schemaName, '_', dataset().tableName, '.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(\n    dataset().serverName,\n    '/',\n    dataset().databaseName,\n    dataset().tableName,\n    '/Year=',\n    formatDateTime(utcnow(), 'yyyy'),\n    '/Month=',\n    formatDateTime(utcnow(), 'MM'),\n    '/Day=',\n    formatDateTime(utcnow(), 'dd')\n)",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSgen2_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/genericADLSg2Parquet_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSgen2_LS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"serverName": {
						"type": "string"
					},
					"databaseName": {
						"type": "string"
					},
					"schemaName": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().schemaName, '_', dataset().tableName, '.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(\n    dataset().serverName,\n    '/',\n    dataset().databaseName,\n    '/Year=',\n    formatDateTime(utcnow(), 'yyyy'),\n    '/Month=',\n    formatDateTime(utcnow(), 'MM'),\n    '/Day=',\n    formatDateTime(utcnow(), 'dd')\n)",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSgen2_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/genericSQLDB_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "genericDB_LS",
					"type": "LinkedServiceReference",
					"parameters": {
						"serverName": {
							"value": "@dataset().serverName",
							"type": "Expression"
						},
						"databaseName": {
							"value": "@dataset().databaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"serverName": {
						"type": "string"
					},
					"databaseName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/genericDB_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSgen2_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLSgen2_LS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLSgen2_LS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorksSQLDV_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AdventureWorksSQLDV_LS_properties_typeProperties_server')]",
					"database": "[parameters('AdventureWorksSQLDV_LS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AdventureWorksSQLDV_LS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AdventureWorksSQLDV_LS_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/genericDB_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"serverName": {
						"type": "string"
					},
					"databaseName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('genericDB_LS_properties_typeProperties_server')]",
					"database": "[parameters('genericDB_LS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('genericDB_LS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('genericDB_LS_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}